# Ignore Everything
*

# folders to keep...
!.vscode/
!.vscode/**
!compiler/
!compiler/**
!tests/
!tests/**
!utils/
!utils/**

# files to keep...
!.gitignore
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml
!rustfmt.toml